n=int(input("Kaç değer kıyaslanacak")) #tanımlamalar
dizi1= []
dizi2= []
sapma1= []
sapma2= []
ortalama1=0
ortalama2=0
x=0
z=0
g=0
q=0
t=0
for i in range(0,n): #diziye eleman eklemek için açılan fonksiyon
        sayi=int(input("sayi"))
        dizi1.append(sayi)
        ortalama1+=sayi
for i in range(0,n): #diziye eleman eklemek için açılan fonksiyon
        sayi=int(input("sayi1"))
        dizi2.append(sayi)   #diziye eleman ekleme fonksiyonu (append)
        ortalama2+=sayi   #toplamlarını bulma
print(ortalama1/n)    #ortalama değerini ekrana yazdırma
print(ortalama2/n)
print(dizi1) #dizi elemanlarını ekrana yazdırdık
print(dizi2)
for i in range(0,n):
    y=dizi1[i] - (ortalama1/n)   #sapma değerlerini bulduk
    sapma1.append(y) #sapma değerlerini listeledik
print(sapma1)
for i in range(0,n):
    x+=round(sapma1[i],2) #round fonksiyonu ile sayıyı yuvarladık. 2.45344i 2.45 yapmak gibi
print(x)
for i in range(0,n):
    y=dizi2[i] - (ortalama2/n)  
    sapma2.append(y)
print(sapma2)
for i in range(0,n):
    t+=round(sapma2[i],2)
print(t)
for i in range(0,n):
    z+=sapma1[i]*sapma2[i]
print(z)
for i in range(0,n):
    g += sapma1[i]**2
print(g)
for i in range(0,n):
    q += sapma2[i]**2
print(q)

gkok=g**(1/2)
qkok=q**(1/2)
print(gkok)
print(qkok)
a=gkok*qkok
r= z/a
print(r)
if r ==0:
    print("ilişki yok")
    
if r>0.01 and r<0.29 :
    print("düşük düzeyde ilişki var")
if r>0.30 and r<0.70 :
    print("orta düzeyde ilişki var")
if r>0.71 and r<0.99:
    print("yüksek düzeyde ilişki var")
if r==1.00:
    print("mükemmel ilişki")
if r<-0.01 and r>0.29 :
    print("düşük düzeyde ilişki var")
if r<-0.30 and r>-0.70 :
    print("orta düzeyde ilişki var")
if r<-0.71 and r>-0.99:
    print("yüksek düzeyde ilişki var")
if r==1.00:
    print("mükemmel ilişki")

kovaryans=z/n
print(kovaryans)
if kovaryans>0:
    print("aynı yönde bir ilişki var")
if kovaryans<0:
    print("zıt yönde bir ilişki var")
if kovaryans==0:
    print("bağımsız")
    


